/******************************************************************************************************************
University of Keele Primary Stylesheet 
author:    Leigh Howells
email:     leigh.howells@headscape.co.uk
website:   http://www.headscape.co.uk
updated:   Terminal Four 2008
updated:   Chris Beard 2012 - using SASS
updated:   Chris Beard 29 July 2016 for uok workflow
*******************************************************************************************************************/
/*******************************************************************************************************************/
//SASS imports
@import 'normalize';
@import 'compass';
@import 'variables';
@import 'mixins';
@import 'layout';
@import 'modules';
// Also see schoolFac.scss import further down in document

// original core css file with dev edits
@import 'core';

// @import 'schoolFac';
@import 'dev';
@import 'dev_footer';

/* importing rules and fonts for liveKeele only */
// @import url(http://fonts.googleapis.com/css?family=Muli);
// @import url(http://www.keele.ac.uk/jq/fonts/googlefont.css);

/* Open Sans import for stagedev 400 normal and 700 bold to keep size down */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import 'kpage_home';
@import 'kfonts';
@import 'liveKeele';
@import 'stagedev';